APP_NAME=go-backend
APP_PRODUCT_NAME=Presense
APP_WEBSITE_URL=https://artisanco.de
APP_SUPPORT_EMAIL=support@artisanco.de
APP_VERSION=dev
APP_PORT=3000
WS_PORT=3001
APP_ENV=development
APP_BASE_URL=http://localhost:3000
APP_LOG_LEVEL=debug
APP_LOG_FILE=./logs/app.log
APP_LOG_FILE_WS=./logs/app_ws.log
APP_LOG_FILE_ACCESS=./logs/access.log
LOCAL_STORAGE_PUBLIC_PATH=./storage/public
LOCAL_STORAGE_PRIVATE_PATH=./storage/private

INSTRUMENTATION_ENABLED=false
INSTRUMENTATION_OTLP_ENDPOINT=localhost:14317
INSTRUMENTATION_OTLP_INSECURE=true
INSTRUMENTATION_OTLP_HEADERS=
INSTRUMENTATION_METRICS_BASIC_AUTH_USER=
INSTRUMENTATION_METRICS_BASIC_AUTH_PASS=
INSTRUMENTATION_DEBUG=false

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user_app
POSTGRES_PASSWORD=password_app
POSTGRES_DB=app_dev
POSTGRES_SSL_MODE=require
POSTGRES_CHANNEL_BINDING=require

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://admin:admin@localhost:5432/admin_db
GOOSE_MIGRATION_DIR=./migrations

DB_CONN_TIMEOUT=30
DB_MAX_OPEN_CONS=20
DB_MAX_IDLE_CONS=10
DB_CONN_MAX_LIFETIME=0

JWT_PRIVATE_KEY=xxx
JWT_PRIVATE_KEY_WS=xxx
JWT_WS_EXP=10
SHARED_LINK_EXP=5 # in minutes

OPENAI_API_KEY=sk-
OPENAI_API_BASE_URL=https://api.openai.com/v1

MAIL_SMTP_HOST=smtp.gmail.com
MAIL_SMTP_PORT=587
MAIL_SMTP_USERNAME="info@xxx.com"
MAIL_SMTP_PASSWORD="svuo dasd xcz xiqb"
MAIL_SMTP_FROM="info@xxx.com"
MAIL_SMTP_TIMEOUT_SECONDS=30

ADMIN_EMAIL_ADDRESS="irham.sahbana@xxx.com"

MESSAGE_BUS_POSTGRES_POLL_INTERVAL_MS=1000
MESSAGE_BUS_POSTGRES_BATCH_SIZE=10
MESSAGE_BUS_RETRY_DELAY_SECONDS=30
MESSAGE_BUS_MAX_ATTEMPTS=5
MESSAGE_BUS_PROCESSING_TIMEOUT_SECONDS=300

STORAGE_KEY=xx
STORAGE_SECRET=xxx
STORAGE_ENDPOINT=https://xxx.digitaloceanspaces.com
STORAGE_REGION=xxx2
STORAGE_BUCKET=xxx-xxx-space
STORAGE_IS_USE_PATH_STYLE=true

GOOGLE_CLIENT_ID=
GOOGLE_WEB_CLIENT_ID=
GOOGLE_IOS_CLIENT_ID=
GOOGLE_ANDROID_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=

DOKU_CLIENT_ID=
DOKU_SECRET_KEY=
DOKU_PUBLIC_KEY=
DOKU_BASE_URL=https://api-sandbox.doku.com
DOKU_CALLBACK_URL=http://localhost:3000/webhooks/doku
DOKU_TIMEOUT_SECONDS=30

FRONTEND_CLIENT_BASE_URL=http://localhost:5000
FRONTEND_ADMIN_BASE_URL=http://localhost:6000
FRONTEND_INVITATION_URL=/auth/invitation
FRONTEND_EMAIL_VERIFICATION_URL=/auth/email-verification
FRONTEND_PASSWORD_RESET_URL=/auth/reset-password
APP_EMAIL_LOGO_URL=https://artisanco.de/favicon.png

SCHEDULER_STORAGE_CLEANUP_SPEC=*/30 * * * *
SCHEDULER_STORAGE_CLEANUP_LIMIT=100
SCHEDULER_MESSAGE_QUEUE_CLEANUP_SPEC=0 3 * * *
SCHEDULER_MESSAGE_QUEUE_CLEANUP_LIMIT=500
SCHEDULER_MESSAGE_QUEUE_RETENTION_HOURS=168
