# files to ignore
.env
~$seeds.xlsx
digihub-app

# directories to ignore
.curl
.gocache
.idea
.vscode
backups
bruno
logs
consumer*.log
/storage/
tmp

# executables to ignore
main.exe
crowners-app.exe
crowners-app
